.inputBox {
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.inputBox:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.submitButton {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #2ea44f;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
}


.submitButton:hover {
    background-color: #2c974b;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}

.loginForm {
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 25vw;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 99vh;
    background-color: #F9FBFD;
}

.formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.formDivChild {
    display: flex;
    align-items: center;
    margin: 5px;
    flex-direction: column;
    width: 100%;
}

.btnContainer {
    display: flex;
    align-items: center;
    margin: 10px;
    width: 100%;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .loginForm {
        width: 100%;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .loginForm {
        width: 50vw;
    }
  }