/* Pagination.css */

/* .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .pagination li {
    margin-right: 5px;
  }
  
  .pagination button {
    background-color: #4caf50;
    color: white;
    border: 1px solid #4caf50;
    padding: 3px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #45a049;
  }
  
  .pagination button:focus {
    outline: none;
  }
  
  .pagination .active {
    background-color: #45a049;
  }
   */
  .paginationContainer {
    display: flex;
    justify-content: center;
  }

  .pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    width: 100%;
  }
  
  .pagination button {
    border: none;
    border: 1px solid  #d3d3d3;
    background-color: #ffffff;
    color:#000000 ;
  }

  .pagination button:hover {
    background-color: #45a049;
    color: #ffffff;
  }

  .pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }


